body {
  font-family: 'Roboto', sans-serif; }

.header {
  background-color: #ffffff; }

.header__contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.header-contacts__phone {
  font-size: 22px;
  margin-right: 13px; }

.header-contacts__button {
  font-size: 14px;
  background-color: #ff9d00;
  border: none;
  color: #ffffff;
  padding: 13px 22px;
  border-radius: 5px; }
  .header-contacts__button img {
    vertical-align: middle; }

.button {
  font-size: 14px;
  background-color: #ff9d00;
  border: none;
  color: #ffffff;
  padding: 13px 22px;
  border-radius: 5px; }
  .button img {
    vertical-align: middle; }
